
tr:nth-child(even) {background-color: #f2f2f2;}


a:link {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h1 {
    color: black;
}
p {
    color: blue;
}
