ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dadfe1;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #9b0000;
}

h1 {
    color: #c5050c;
}
p {
    color: #c5050c;
}
